/* Styles for AccountSettings Page */
.content-container {
  /* overflow-y: auto; */
  box-sizing: border-box;
  margin-left: 7%;
  width: 80%;
  height: max-content;
  display: grid;
  gap: 30px;
  grid-template-columns: 1.5fr 3fr;
  padding-top: 35px;
  padding-right: 30px;
}
.section-1 {
  grid-column: 1;
  align-items: center;
  height: 85%;
  padding: 35px;
  gap: 30px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: smaller;
}
.homeText {
  margin-top: 65px;
  margin-left: 5%;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: smaller;
}
.section-1 ul li a {
  text-decoration: none;
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 550;
}

.section-1 ul li a:hover {
  color: #00a9e3;
}
.section-1 ul {
  list-style: none;
}
.section-1 ul li {
  text-indent: 10%;
  line-height: 260%;
}
.section-1 ul h3 {
  font-weight: 650;
}
.section-2 form span h2 {
  color: #00a9e3;
  font-weight: 600;
  margin-bottom: -10px;
  margin-top: -20px;
  text-align: left;
}
.lastName {
  margin-top: 20px;
}
.section-2 {
  margin-top: -30px;
  width: 90%;
  grid-column: 2;
  height: 105%;
  padding: 45px;
  gap: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
form {
  width: 100%;
  height: 100%;
  padding: 1.3%;
}
.section-2 form span {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 1;
  gap: 10px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: smaller;
  letter-spacing: 0.4px;
  font-weight: 300;
  border-radius: 4px;
  gap: 20px;
}
.section-2 form input {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 300;
  border-radius: 4px;
  border: none;
}
.section-2 form label {
  font-weight: 550;
}
.section-2 h4 {
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 550;
}
.section-2 form span input {
  width: 100%;
}
.password-changes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.password-changes div input {
  width: 100%;
}
.send-btn {
  width: 150px;
  height: 56px;
  margin-top: 10px;
  margin-left: 2.5%;
  background-color: #00a9e3;
  color: white;
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: smaller;
  letter-spacing: 0.4px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.cancel-btn {
  font-size: medium;
  font-weight: 600;
}
.send-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.cancel-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Animation for fading out the page */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* When a link is clicked, apply fade-out animation */
body.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Optional: Style for profile link hover */
a[href="/Account Settings/AccountSetting page.html"] img:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}
/* Media Query for contact us page */
/* BreakPoint: 1015px */
@media screen and (max-width: 1015px) {
  .section-2 form span h2 {
    color: #00a9e3;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: -20px;
    text-align: left;
    font-size: 15px;
    .section-2 {
      height: 100%;
    }
    .send-btn {
      width: 25%;
      height: 56px;
      margin-top: 10px;
      margin-left: 2.5%;
      background-color: #00a9e3;
      color: white;
      font-family: "Poppins", serif;
      font-style: normal;
      font-size: smaller;
      letter-spacing: 0.4px;
      font-weight: 400;
      border-radius: 4px;
      border: none;
    }
    .cancel-btn {
      font-size: medium;
      margin-left: 50%;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 865px) {
    .section-1 {
      display: none;
    }
    .content-container {
      /* overflow-y: auto; */
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 35px;
      padding-right: 0px;
    }
    .section-2 {
      margin-top: -30px;
      width: 100%;
      grid-column: 1;
      height: 105%;
      padding: 45px;
      gap: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    @media screen and (max-width: 460px) {
      .section-2 form span {
        display: block;
        margin-top: 20px;
        grid-row: 1;
        gap: 10px;
        font-family: "Poppins", serif;
        font-style: normal;
        font-size: smaller;
        letter-spacing: 0.4px;
        font-weight: 300;
        border-radius: 4px;
        gap: 20px;
      }
      .password-changes {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .password-changes div input {
        width: 100%;
      }
    }
  }
}
